ALIASES_PATH="~/.aliases"
ZSHRC_PATH="~/.zshrc"
VIMRC_PATH="~/.vimrc"

#Bash
alias c="clear"
alias ls="ls -lapFG"
alias dots="ls .*"
alias val="vim $ALIASES_PATH"
alias sal="source $ALIASES_PATH"
alias vz="vim $ZSHRC_PATH"
alias vv="vim $VIMRC_PATH"

#Git
alias pull="git pull"
alias push="git push"
alias fetch="git fetch --prune"
alias stash="git stash --include-untracked"
alias pop="git stash pop"
alias lstash="git stash list"
alias nah="git reset --hard; git clean -fd"
alias gs="git status"
alias gc="git commit"
alias ga="git add"
alias gaa="git add ."
alias gac="git add .; git commit"
alias glo="git log --oneline"
alias gl="git log"
alias gbn="git branch --show-current"
alias gd="git diff"
alias gcn="git commit --no-edit"
alias gb="git branch"
alias gba="git branch --all"
